<div class="battle-simulation-page">

  <div class="navbar">
    <div class="user">
      <img id="userImg" src="assets/user.png" alt="user-icon">
      <p>{{currentUserName}}</p>
    </div>

    <div class="logout" (click)="logout()">
      <p>Űrhajó elhagyása</p>
      <img id="logoutImg" src="assets/logout.png" alt="logout-icon">
    </div>
  </div>
  <hr>

  <div class="battle-in-progress-container" *ngIf="isBattleOver == false">

    <div class="title-result">A tudás legyen veled!</div>
    <div class="battle-description">
      <div class="dark-side">
        <div class="fighter-side">Sötét oldal</div>
        <div class="dark-fighter-image">
          <div class="dark-side-circle"></div>
          <img id="dark" src="assets/{{fighterDarkSide.id}}.png" alt="dark-side-fighter-picture">
        </div>
        <div class="fighter-name-dark">{{removeBrTag(fighterDarkSide.name).toLowerCase()}}</div>
        <div class="progress-bar-dark">
          <div class="progress-bar-width-dark"></div>
        </div>
        <div class="percentage-bar">{{fighterDarkHealth}}%</div>
      </div>

      <div class="versus">
        VS
      </div>

      <div class="light-side">
        <div class="fighter-side">Világos oldal</div>
        <div class="light-fighter-image">
          <div class="light-side-circle"></div>
          <img id="light" src="assets/{{fighterLightSide.id}}.png" alt="light-side-fighter-picture">
        </div>
        <div class="fighter-name-light">{{removeBrTag(fighterLightSide.name).toLowerCase()}}</div>
        <div class="progress-bar-light">
          <div class="progress-bar-width-light"></div>
        </div>
        <div class="percentage-bar">{{fighterLightHealth}}%</div>
      </div>
    </div>
  </div>

  <div class="battle-over" *ngIf="isBattleOver == true">
    <div class="title-result">A csata nyertese</div>

    <div class="winner-image-container">
      <div class="winner-side-circle" id="winner-side-circle"
           [ngStyle]="{'background-color': winnerFighter.side == 'DARK' ? '#333333' : '#FFFFFF'}"></div>
      <img id="winner-image" src="assets/{{winnerFighter.id}}.png" alt="winner-picture">
    </div>

    <div class="winner-name">{{removeBrTag(winnerFighter.name).toLowerCase()}}</div>
    <button class="play-again-btn" (click)="navigateToChoosing()">Vissza a fedélzetre</button>
  </div>

  <br>
  <footer class="footer">Webstar Csoport Kft. - © Minden jog fenntartva</footer>
</div>
