<div class="character-page">

  <div class="navbar">
    <div class="user">
      <img id="userImg" src="assets/user.png" alt="user-icon">
      <p>{{currentUserName}}</p>
    </div>

    <div class="logout" (click)="logout()">
      <p>Űrhajó elhagyása</p>
      <img id="logoutImg" src="assets/logout.png" alt="logout-icon">
    </div>
  </div>
  <hr>
  <br>

  <div class="wrapper">

    <div class="character-data">
      <div class="title">Válassz két harcost az ellenkező oldalakból!</div>

      <div class="side">
        <div class="side-icon"
             [ngStyle]="characters[characterDisplayIndex].side == 'DARK' ? {'background-color': '#000000', 'border-color': '#FFFFFF'} : {'background-color': '#FFFFFF', 'border-color': '#000000'}">
        </div>
        <div>
          <div class="side-title">OLDAL</div>
          <div class="characters-side"
               [innerText]="characters[characterDisplayIndex].side == 'DARK' ? 'Sötét' : 'Világos'"></div>
        </div>
      </div>

      <br>

      <div class="power">
        <div class="power-icon">
          <img id="star-icon" src="../../../assets/star.png" alt="star-icon">
        </div>
        <div>
          <div class="power-title">KÜLÖNLEGES ERŐ</div>
          <div class="characters-power">{{characters[characterDisplayIndex].power}}</div>
        </div>
      </div>

      <br>

      <div class="name-wrapper">
        <div class="name" [innerHTML]="characters[characterDisplayIndex].name.toLowerCase()"></div>
      </div>

      <br>

      <div class="chooser" (click)="addCharacter()"
           [ngStyle]="characters[characterDisplayIndex].isSelected == true ? {'background-color': '#F7B500', 'color': '#000000'} : {}">
        Kiválasztom
      </div>

      <div class="description">
        <div class="description-header">
          <div class="description-icon"></div>
          <div class="description-title">LEÍRÁS</div>
        </div>
        <div class="description-body">{{characters[characterDisplayIndex].description}}</div>
      </div>
    </div>

    <div class="swiper-container">
      <div class="arrows">
        <div class="right-arrow">
          <img id="right-arrow" (click)="nextCharacter()" class="swiper-button-next" src="assets/arrow_circle.png"
               alt="right-arrow">
        </div>
        <div class="left-arrow">
          <img id="left-arrow" (click)="previousCharacter()" class="swiper-button-prev" src="assets/arrow_circle.png" alt="left-arrow">
        </div>
      </div>

      <div class="swiper">
        <swiper
          [cssMode]="true"
          [navigation]="true"
          [pagination]="true"
          [speed]="400"
        >
          <ng-template swiperSlide>
            <div class="character-image">
              <div class="yellow-circle" id="yellow-circle"
                   *ngIf="characters[characterDisplayIndex].isSelected == true"></div>
              <img id="sliderImg" src="assets/{{characters[characterDisplayIndex].id}}.png" alt="character-pic">
            </div>
          </ng-template>
        </swiper>
      </div>
    </div>
  </div>

  <div class="footer-wrapper">
    <div class="simulation-btn">
      <button *ngIf="canSimulationBegin == true" id="simulation-btn" (click)="startSimulation()">Küzdelem
        szimulálása
      </button>
    </div>
    <div class="footer">
      <footer>Webstar Csoport Kft. - © Minden jog fenntartva</footer>
    </div>
  </div>
</div>

