.character-page {
  background-image: url(~src/assets/bg_2.png);
  height: 100vh;
  width: 100%;
  background-size: cover;
  text-align: center;
}

.navbar {
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  font-family: Poppinsbold;
  font-size: 16px;
  color: #FFFFFF;
  padding-top: 5px;
  width: 80%;
}

.user {
  display: flex;
  justify-content: center;
  align-items: center;
}

#userImg {
  padding-right: 15px;
}

.logout {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

#logoutImg {
  padding-left: 15px;
}

.wrapper {
  display: flex;
}

hr {
  width: 80%;
}

.title {
  font-family: Poppinsblack;
  font-size: 24px;
  color: #FFFFFF;
}

.side-title, .power-title {
  font-family: Poppinsbold;
  font-size: 16px;
  color: #F7B500;
}

.characters-side, .characters-power {
  font-family: Poppinsblack;
  font-size: 20px;
  color: #FFFFFF;
}

.name {
  font-family: Starjedi;
  font-size: 90px;
  color: #FFFFFF;
  padding: 0;
  margin: 0;
}

.chooser {
  font-family: Poppinsbold;
  font-size: 16px;
  color: #FFFFFF;
  border: 2px solid #F7B500;
  border-radius: 5px;
  cursor: pointer;
  width: 250px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 40px;
  //vertical-align: middle;
}

.description-title {
  font-family: Poppinsbold;
  font-size: 16px;
  color: #FFFFFF;
}

.description-body {
  font-family: Poppinsregular;
  font-size: 16px;
  color: #FFFFFF;
}


.footer-wrapper {
  display: inline;
}

.footer {
  bottom: 0;
  right: 0;
  position: fixed;
  margin-right: 15px;
  font-family: Poppinsregular;
  font-size: 12px;
  color: #FFFFFF;
  margin-bottom: 5px;
}

.character-data {
  text-align: left;
  margin-left: 10%;
  width: 100%;
}

.swiper-container {
  text-align: right;
  margin-right: 10%;
  width: 80%;
}

#right-arrow {
  transform: scaleX(-1);
}

#right-arrow, #left-arrow {
  height: 55px;
  width: 55px;
}

.yellow-circle {
  position: absolute;
  margin-top: 10%;
  opacity: 100%;
  background-color: #F7B500;
  z-index: 0;
  height: 450px;
  width: 450px;
  border-radius: 50%;
  margin-left: 250px;
  margin-right: 50px;
}

#sliderImg {
  margin-top: 100px;
  height: 650px;
  width: 650px;
  z-index: 1;
}

.character-image {
  display: flex;
  justify-content: center;
  align-items: center;
}

.simulation-btn {
  position: fixed;
  bottom: 0;
  width: 100%;
}

#simulation-btn {
  font-family: Starjedi;
  height: 50px;
  font-size: 20px;
  background-image: linear-gradient(to right, #00D2FF, #FF3232);
  width: 18%;
  border: none;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  cursor: pointer;
}

.side-icon {
  border: 7px solid;
  height: 36px;
  width: 36px;
  margin-right: 20px;
}

.power-icon {
  background-color: #F7B500;
  height: 50px;
  width: 50px;
  display: flex;
  justify-content: center;
  margin-right: 20px;
}

#star-icon {
  margin-top: 10px;
  height: 30px;
  width: 30px;
}

.description-icon {
  background-color: #F7B500;
  height: 20px;
  width: 20px;
  margin-right: 10px;
}

.description-header {
  display: inline-flex;
  margin-bottom: 20px;
}

.power {
  display: inline-flex;
}

.side {
  display: inline-flex;
  margin-top: 50px;
  margin-bottom: 30px;
}

