body {
  margin: 0;
}

@font-face {
  font-family: Starjedi;
  src: url(assets/Starjedi.ttf) format("truetype");
}

@font-face {
  font-family: Distantgalaxy;
  src: url(assets/SfDistantGalaxyAltoutline-e2Bp.ttf) format("truetype");
}

@font-face {
  font-family: Poppinsbold;
  src: url(assets/Poppins-Bold.ttf) format("truetype");
}

@font-face {
  font-family: Poppinsregular;
  src: url(assets/Poppins-Regular.ttf) format("truetype");
}

@font-face {
  font-family: Poppinsblack;
  src: url(assets/Poppins-Black.ttf) format("truetype");
}
